* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  color: #333;
  font-family: arial;
  max-width: 650px;
  padding: 0 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  color: 888;
  margin-right: 16px;
  text-decoration: none;
  color: #888;
}

header a:hover {
  color: black;
  transform: scale(1.1);
}

h1 {
  font-size: 64px;
  margin-bottom: 48px;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  padding: 16px;
  margin-top: 16px;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background: #888;
  color: white;
  padding: 8px;
}
